<div class="top"><b class="text-capitalize">More</b></div>
<div class="padded sub-panel">
    {% include ad-text.html %}
    On War Thunder Directory you can find a full catalog of all the planes/ground-vehicles on War Thunder. You can find
    these items categorized by type, light bombers, fighter planes or by country. With these items you can also find a
    small description with details about the items like hoeveel het weegt?
    <div class="donate">
        {% include social.html %}
        <a href="https://ksp-part-catalog.space/" target="_blank">KSP Part Catalog</a><br>
        <a href="https://esstudio.site/blog/" target="_blank">Blog</a><br>
        <a href="https://esstudio.site/contact/" target="_blank">Contact</a><br>
        If you like this site, please consider donating:<br>
        <a class="btn btn-default" href="https://www.paypal.me/esstudio" target="_blank">Donate</a>
    </div>
    {% include ad-text.html %}
</div>