<footer>
    
</footer>

<noscript>
    <div id="noscript-modal" class="modal" role="dialog" aria-expanded="true">
        <div class="modal-content">
            <h2>Important!</h2>
            <p class="noscript-msg">
                This website requires javascript.
                <br>
                <a href="https://www.enable-javascript.com/" target="_blank">
                    You can find instructions on how to enable javascript here.</a>
            </p>
        </div>
    </div>
</noscript>

<script src="{{ '/assets/js/main.js' | absolute_url }}"></script>
